* {
	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html, body {

	height: 100%;
}

body {

	background-color: $colour-light;
}

::selection {

	background: $colour-pri;
	color: $colour-light;
}
::-moz-selection {

	background: $colour-pri;
	color: $colour-light;
}

img {
 
	max-width: 100%;
	height: auto;   
 
	&.full {

		width: 100%;
	}
}
 
hr {
 
	width: 100%;
	height: 1px;
	border: 0;
	background: $colour-mid;
}
 
.table {
 
	display: table;
	height: 100%;
	margin-bottom: 0;
 
	.table-cell {
 
		display: table-cell;
		vertical-align: middle;
	}
}
 
.center-block {
	
	@include center-block;
}
 
.center-vertically {
	
	@include center-vertically;
}
 
.relative {
 
	position: relative;
}

.hidden-md {

	display: none;

	@include bp-md {

		display: block;
	}
}
 
ul {
 
	margin: 0;
	padding: 0;
 
	li {
 
		list-style: none;
	}
}