$colour-pri:		#ee2d26;
$colour-sec:		#ee2d26;
$colour-tie:		#ee2d26;
$colour-qua:		#ee2d26;

$colour-light:			#fff;
$colour-light-mid:		#ededed;
$colour-mid:			#949494;
$colour-mid-dark:		#4f4f4f;
$colour-dark:			#000;